-# Form for project

= form_for(@project, multipart: true) do |f|
	- if @project.errors.any?
		%h2
			= pluralize(@project.errors.count, "error")
			prevented this project from saving:
		%ul
			- @project.errors.full_messages.eac do |msg|
				%li= msg

	= f.label :title
	%br
	= f.text_field :title

	%br
	%br
	= f.label :description
	%br
	= f.text_area :description

	%br
	%br
	= f.label :tag_list
	%br
	= f.text_field :tag_list

	%br
	%br
	= f.label :project_image
	%br
	= f.file_field :project_image

	%br
	%br
	= f.label :link
	%br
	= f.text_field :link

	%br
	%br
	= f.label :content
	%br
	= f.text_area :content, :class => "content_box"

	%br
	%br
	= f.submit
