%h1= @project.title
%p= @project.tag_list
- if @project.link
	%a.link{:href => @project.link, :target => "_blank"}
		Check it out!
		- if @project.project_image.url
			= image_tag @project.project_image.url(:medium)
%p= @project.description
= markdown @project.content

= link_to "Edit", edit_project_path(@project)
= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete this project?" }