!!!!!
%html
	%head

		%meta{:charset => "UTF-8"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

		%title Logan Graba

		= stylesheet_link_tag 'application', media:'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags

		%meta{:name => "description", :content => "My name is Logan Graba. Developer, student, and Go enthusiast. I like to solve problems."}

		%link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"}
		%link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Montserrat|Titillium+Web|Poiret+One|Lobster|Josefin+Sans|Lato", :rel => "stylesheet", :type => "text/css"}

	%body

		-if user_signed_in?
			%span#signed_in
				= link_to destroy_user_session_path, method: :delete do
					= inline_svg "Logan1.svg", class: 'logo'

		-if notice
			%p.notice= notice
		-elsif alert
			%p.alert= alert
			
		%section#main
			= yield

		%section#side
			#top
				.left
					= link_to root_path do
						%span.logo
							%span.inner
								= inline_svg "Logan1.svg", class: 'logan-logo'
				.right
					= link_to root_path do
						%span.name
							%span.inner
								%h2
									%span Logan Graba
			= link_to projects_path do
				%span#projects
					%span.inner
						%h2
							%span Projects
							Check out some of my latest projects.
							%br
							PHP, Ruby on Rails, Python, Painting, and Go
			#bottom
				.left
					= link_to resumes_path do
						%span.resume
							%span.inner
								%span.fa-lg
									%i.fa.fa-file-text-o
								%br
								Resume
				.right
					= link_to new_contact_path do
						%span.contact
							%span.inner
								%i.fa.fa-envelope
								%br
								Contact
					.left
						= link_to "http://github.com/lgraba", target: "_blank" do
							%span.github
								%span.inner
									%i.fa.fa-github-square
									%br
									Github
					.right
						= link_to "https://twitter.com/LGraba", target: "_blank" do
							%span.twitter
								%span.inner
									%i.fa.fa-twitter-square
									%br
									Twitter
						= link_to about_path do
							%span.about
								%span.inner
									%i.fa.fa-cogs
									%br
									About